<%-if @added_members.count < 4 and @candidates.count > 0 %>
    <div class="space_top general" id="a3">
      <h2>Candidates to invite</h2>
      <ul>
        <% @candidates.each do |user| %>
        <li>
          <img src="<%= user.avatar %>">
          <h3><%= user.handle %></h3>
          <a href='<%= add_request_path(user.id) %>' class="btn addReq">Add</a>
        </li>
        <% end %>
      </ul>
    </div>
<%-end %>