<div class="row-fluid">
  <div class="span6">
    <h1 style="padding:left:20px;"> Create/Join a team </h1>
    <div class="row-fluid space_top">
      <div class="span9 offset1">
        <p style="font-size:20px"> Create or join a team. Maximum team size is four. You can send join requests to teams. The respective team owner has to approve. You can send requests to anynumber of teams until you are accepted by anyteam. The team owner can add/remove members. Team members will be notified via email.
        Newly signed up users can either create or join a team or accept a request from another team </p>
      </div>
      <div class="span2">
      </div>
    </div>
    <a href='/auth/github' class="btn btn-large btn-primary bw space_top">Get Started</a>
  </div>
  <div class="span6">
    <%- [0,1].each do |row| %>
      <div class = "row <%= row == 1 ? 'space_top' : '' %>">
        <%- [0, 1].each do |col| %>
          <div class="span4">
            <img class='avatar' src = "/assets/avatar_user.gif">
          </div>
        <%- end %>
      </div>
    <%-end%>
  </div>
</div>