<div class="general hide" id="a2">
<ul class = "requests">
    <% @requests.each do |request| %>
      <li> <a href='<%= get_url(request.user_handle) %>'> <%= request.user_handle %></a> <a href='<%= accept_path(request.user_id) %>' class='btn'>Accept</a> <a href='<%= decline_path(request.user_id) %>' class='btn'>Decline</a></li>
    <% end %>
</ul>
</div>