 <div class="modal hide" id="joinModal">
    <div class="modal-body">
      <p id="join_message"></p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
<ul>
<% @teams.each do |team| %>
  <% if team.member_count < 4 %>
    <li>
    <%= team.name %>
    <%  if @requested_teams.include?(team.id) %>
      Request pending !
    <% else %>
      <a href= '<%= join_team_path(team) %>' class="btn selectTeam"> Join </a>
    <% end %>
    </li>
  <% end %>
<% end %>
</ul>