<div class="contributors content_pos" style="font-size:20px;width:1000px;height:1000px;">
  <% if current_user.blank? %>
    <h3> Login to view teams </h3>
  <% else %>
    <div id="contributorsCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <div class="row">
            <div class="span3 offset3">
              <h1> Contributors </h1>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class= "span3 offset1">
              <img src = "/assets/avatar_user.gif">
            </div>
            <div class= "span3">
              <img src = "/assets/avatar_user.gif">
            </div>
            <div class= "span3">
              <img src = "/assets/avatar_user.gif">
            </div>
          </div>
          <br>
          <div class="row">
            <div class= "span3 offset1">
              <img src = "/assets/avatar_user.gif">
            </div>
            <div class= "span3">
              <img src = "/assets/avatar_user.gif">
            </div>
            <div class= "span3">
              <img src = "/assets/avatar_user.gif">
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  <% end %>
</div>