<div class="contributors content_pos">
  <%-if @users.count > 0 %>
      <h2 style="text-align:center;">Students who have signed up so far</h2>
    <div id="contributorsCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% i=0 %>
        <%-@users.each_with_index do |user, index| %>
          <% if i%8==0 %>
            <div class="item">
              <div class="row-fluid" style="margin-left: 100px; margin-right:100px">
          <% end %>
          <div class= "span1 offset1">
            <a href="http://github.com/<%= user.handle %>">
              <img class='small-avatar' src = "<%=user.avatar%>">
            </a>
          </div>
          <% if i%8==7 || i==@users.length-1%>
              </div>
             </div>
          <% end %>            
          <% i = i+1 %>
        <%-end%>
      </div>
      <a class="carousel-control left" href="#contributorsCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#contributorsCarousel" data-slide="next">&rsaquo;</a>
    </div>
  <% end %>
</div>