<div class="myteam content_pos" style="font-size:20px;width:800px;height:800px">
  <% if current_user.blank? %>
    Please Login to Create or Join or view your Team ! 
  <% else %>
     <% if @is_member.blank? %>
      <div class="row-fluid">
        <div class="span6">
          <h1>Create team</h1>
          <%= render  :partial => "partials/myteam/create_team"%>
        </div>
        <div class="span6">
          <h1>Join team</h1>
          <%= render  :partial => "partials/myteam/select_team"%>
        </div>
      </div>
    <% else %>
      <%= render :partial => "partials/myteam/team_details" %>
    <% end %> 
  <% end %>
</div>

