<div class="bootcamp content_pos" style="font-size:20px;width:800px;height:800px">
  <h1>Bootcamp </h1>
   The web applications built for the contributing code sprint are to be deployed on cloudfoundry.(PASS). Bootcamp is the ideal place to come and learn about the latest developments in web applications and to deploy your awesome web applications on cloudfoundry. Please check the schedule for more details.
</div>
