<div class="bootcamp content_pos">
  <div class="hero-unit">
    <h1>Bootcamp</h1>
    <hr>
    <p>Cloud Foundry was nice enough to donate accounts for all students as well as invite their top speakers to train you on the best web technologies.
      We will also have external invited experts as project leads.
    </p>
    <h2>Bootcamp Logistics</h2>
    <br/>
    <p><strong>Date:</strong> July 13th, 2012</p>
    <p><strong>Location</strong>: VMWARE Headquarters</p>
      </div>

    <div class="hero-unit">
    <h2>Training Topics</h2>
    <hr>
    <p>How to build a Node.JS Chat Application
     <a href="https://github.com/rajaraodv/socketio1">Start Now</a>
    </p>
    <p>Ruby</p>
  </div>

</div>
