<div class="bootcamp content_pos" style="font-size:20px;width:1000px;height:1000px;">
  <div class="hero-unit">
    <h1>Bootcamp</h1>
    <hr>
    <p>Cloud Foundry was nice enough to donate accounts for all students as well as invite their top speakers to train you on the best web technologies.
    </p>
  </div>
  <div class="hero-unit">
    <h2>Bootcamp Logistics</h2>
    <hr>
    <br/>
    <p><strong>Date:</strong> July 13th, 2012</p>
    <p><strong>Location</strong>: VMWARE Headquaters</p>
    <iframe width="425" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=vmware++paloalto&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,92.373047&amp;ie=UTF8&amp;hq=vmware++paloalto&amp;hnear=&amp;ll=37.394014,-122.147894&amp;spn=46.890512,92.373047&amp;t=m&amp;z=4&amp;iwloc=A&amp;cid=1482153777868435151&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=vmware++paloalto&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,92.373047&amp;ie=UTF8&amp;hq=vmware++paloalto&amp;hnear=&amp;ll=37.394014,-122.147894&amp;spn=46.890512,92.373047&amp;t=m&amp;z=4&amp;iwloc=A&amp;cid=1482153777868435151" style="text-align:left">View Larger Map</a></small>
  </div>
  <!-- <div class="hero-unit">
    <h2>Training Topics</h2>
    <hr>
    <p>Building web applications with Java and Spring, Ruby on Rails 3.2, Node.JS</p>
  </div> -->

</div>
