<div class="home content_pos" style="font-size:20px;width:800px;height:800px">
<h1>Home</h1>
<br>
<br>
<br>
Contributing code is a two week long coding event starting on July 13th with a bootcamp and ending on July 28th with a 12 hr long code sprint for students to create and deploy web application on <a href="http://cloudfoundry.com/">cloudfoundry</a>.
Check out the awesome <span class="p"> <a id="prizes" href="#prizes">prizes</a></span>, the <span class="r"><a href="#rules">rules</a></span> for the contest and the <span class="s"><a href="#schedule">schedule</a></span>. 
</div>