<div class="home content_pos" style="font-size:20px;width:800px;height:800px">

<div class="hero-unit">
  <h1>We need your help</h1>
  <p>  ￼
  Sometimes we take things for granted and don't fully appreciate how lucky we are to live in this planet, enjoying nature, families, friends,
    learning and specially having the chance to make a difference.
  </p>
</div>

  <div class="hero-unit">
    <h1>#ContributingCode</h1>
    <p>  ￼
      Your mission, should you choose to accept it, is to volunteer your unique talents and creativity on a two week long sprint where
        we, the <a href="https://twitter.com/#!/cloudfoundry" target="_blank">@CloudFoundry</a> team, will provide some fundamentals teaching you web development in a variety of languages and
        you will surprise us with creative solutions you built with your friends.
    </p>
    <span class="m"><a href="#myteam" class="btn btn-large btn-primary bw">Get Started</a>
  </div>
  <div class="hero-unit">
      <h1>The good news</h1>
      <p>  ￼
        We managed to get some nice <span class="p"><a id="prizes" href="#prizes">prizes</a></span>, food and giveaways for all attendees.
        You won't regret coming even if you don't win.
      </p>
    </div>
</div>
