<div class="home content_pos" style="font-size:20px;width:800px;height:800px">
<h1>Home</h1>
Help the government solve real world problems. Contribute to open source projects, Comming up with great ideas!
Cloudfoundry is working to change the way cities work through technology and public service. You can  contribute to make a difference.
Take part in the 2 week contributing code sprint and make a difference ! 
For more details visit the rules page .
</div>