<div class="prizes content_pos" style="font-size:20px;width:800px;height:800px">
<h1>Prizes!</h1> 
<ul>
  <li>T-Shirts - All interns who stay until 10pm</li>
  <li>First prize -  MAc book air 13" 3</li>
  <li>Second prize - iPads - 3</li>
  <li>Third prize - Github accounts / ipods  3</li>
  <li>Discount on Cloud Foundry Accounts - All interns who stay until Saturday at 10pm</li>
</ul>
</div>
