<div class="prizes content_pos" style="font-size:20px;width:1000px;height:1000px">
  <div class="hero-unit">
    <h1>Prizes</h1>
    <hr>
    <p>Everyone is a winner using Cloud Foundry and working for the Greater Good.</p>
  </div>
  <div class="hero-unit" style="width:800px">
    <div class="row">
      <div class="span3">
        <img align="top" src="/assets/prize_First.png">
        <h1>$4000</h1>
        <p>First prize</p>
      </div>
      <div class="span3">
        <img align="top" src="/assets/prize_Second.png">
        <h1>$2000</h1>
        <p>Second prize</p>
      </div>
      <div class="span3">
        <img align="top" src="/assets/prize_Third.png">
        <h1>$1000</h1>
        <p>Third prize</p>
      </div>
    </div>

    <h1>T-Shirts</h1>
    <p>All students who stay until 10pm</p>
  </div>
  

</div>
