<div class="prizes content_pos" style="font-size:20px;width:800px;height:800px">
<h1>Prizes!</h1> 
<ul>
  <li>T-Shirts - All interns who stay until 10pm</li>
  <li>First prize -  Gift cards worth 4k</li>
  <li>Second prize - Gift cards 2k </li>
  <li>Third prize - Gift cards woth 1k</li>
  <li>Discount on Cloud Foundry Accounts - All interns who stay until Saturday at 10pm</li>
</ul>
</div>
