<div class="prizes content_pos" style="font-size:20px;width:800px;height:800px">
  <div class="hero-unit">
    <h1>Prizes</h1>
    <p>Everyone is a winner using Cloud Foundry and working for Greater Good</p>
  </div>
  <div class="hero-unit">
    <h1>$4000</h1>
    <p>First prize</p>
    <h1>$2000</h1>
    <p>Second prize</p>
    <h1>$1000</h1>
    <p>Third prize</p>
    <h1>T-Shirts</h1>
    <p>All students who stay until 10pm</p>
  </div>
</div>
