<div class="rules content_pos" style="font-size:20px;width:800px;height:800px">
<h1>Rules </h1>
<ul>
  <li>Its a two week code sprint</li>
  <li>Themes will be told on the day on bootcamp</li>
  <li>Each team will given a git repo to push the code</li>
  <li>Teams can start coding once the git repo is given</li>
  <li>Apps are to be deployed on cloudfoundry</li>
  <li>Teams showing up on July 28th for the last 12 hr hacking are only eligible for prizes </li>
  <li>Each team is required to have a maximum of 5 members</li>
</ul>

</div>
