<div class="schedule content_pos">
    <div class="hero-unit" style="width:650px">
      <h1>Schedule</h1>
     <hr>
     <h3>Bootcamp July 13, 2012 </h3>
      <table class="table table-bordered" style="font-size: 18px;">
      <tr>
        <th>Time</th>
        <th>Event</th>
      </tr>
      <tr>
        <td>12:00pm - 12:30pm</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>12:30pm - 01:00pm</td>
        <td>Introduction to #Contributing code</td>
      </tr>
      <tr>
        <td>01:00pm - 01:30pm</td>
        <td>CodeForAmerica and SocialCodingForGood projects</td>
      </tr>
      <tr>
        <td>01:30pm - 02:15pm</td>
        <td>Introduction to Cloudfoundry</td>
      </tr>
      <tr>
        <td>02:15pm - 03:00pm</td>
        <td>Java/Spring Quick Start</td>
      </tr>
      <tr>
        <td>03:00pm - 03:45pm</td>
        <td>Ruby Quick Start</td>
      </tr>
      <tr>
        <td>03:45pm - 04:30pm</td>
        <td>NodeJS Quick Start</td>
      </tr>
      <tr>
        <td>04:30pm - 04:45pm</td>
        <td>Contest Rules</td>
      </tr>
    </table>

    <br><br>

    <h3>Code Sprint July 28, 2012 </h3>
      <table class="table table-bordered">
      <tr>
        <th>Time</th>
        <th>Event</th>
      </tr>
      <tr>
        <td>09:00am - 09:30am</td>
        <td>Introduction</td>
      </tr>
      <tr>
        <td>09:30am - 08:00pm</td>
        <td>Code sprint</td>
      </tr>
      <tr>
        <td>08:00pm - 08:45pm</td>
        <td>Dinner</td>
      </tr>
      <tr>
        <td>09:00pm - 10:00pm</td>
        <td>Winners and demo by them</td>
      </tr>
    </table>
    <h3> Food and drinks will be provided throught the event </h3>
    
    </div>


</div>