<div class="venue content_pos">
  <div class="hero-unit">
    <h1>Venue</h1>
    <hr>
    <div class="row-fluid">
      <div class="span7">
        <iframe width="425" height="350" frameborder="0" scrolling="no" style="border:8px solid #111111" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=900+Arastradero+Rd,+Palo+Alto,+CA+94304&amp;aq=&amp;sll=37.395472,-122.141458&amp;sspn=0.010723,0.019891&amp;ie=UTF8&amp;hq=&amp;hnear=900+Arastradero+Rd,+Palo+Alto,+California+94304&amp;t=m&amp;z=14&amp;ll=37.395472,-122.141458&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=900+Arastradero+Rd,+Palo+Alto,+CA+94304&amp;aq=&amp;sll=37.395472,-122.141458&amp;sspn=0.010723,0.019891&amp;ie=UTF8&amp;hq=&amp;hnear=900+Arastradero+Rd,+Palo+Alto,+California+94304&amp;t=m&amp;z=14&amp;ll=37.395472,-122.141458" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
      <div class="span5 space-top">
        <p><h2>VMware, Inc. </h2><br>
        World Headquarters<br>
        Creekside A <br>
        900 Arastradero Rd,<br>
        Palo Alto, CA 94304 USA <br>
        Tel: 1-877-486-9273 </p>
      </div>
    </div>
    <h3 class='space_top'>
      <a href="http://transportation.stanford.edu/marguerite/MargueriteSched.shtml">Here</a> is the shuttle info for the bootcamp.
      <br>
      There are shuttles running inside the VMware campus to take you to the Creekside A building.
    </h3>
  </div>
</div>
