<div class="venue content_pos" style="font-size:20px;width:800px;height:800px">
<h1>Venue and getting here</h1>
Info about shuttle goes here ! 
<br>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=vmware++paloalto&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,92.373047&amp;ie=UTF8&amp;hq=vmware++paloalto&amp;hnear=&amp;ll=37.394014,-122.147894&amp;spn=46.890512,92.373047&amp;t=m&amp;z=4&amp;iwloc=A&amp;cid=1482153777868435151&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=vmware++paloalto&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,92.373047&amp;ie=UTF8&amp;hq=vmware++paloalto&amp;hnear=&amp;ll=37.394014,-122.147894&amp;spn=46.890512,92.373047&amp;t=m&amp;z=4&amp;iwloc=A&amp;cid=1482153777868435151" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
