<h1> Teams </h1>
<ul id="teams_list">
  <% if @is_member.present? %> 
    <% @teams.each do |team| %>
      <li><%= team.name %></li>
    <% end %>
  <% else %>
    <% @teams.each do |team| %>
        <li>
          <%= team.name %>
            <% if team.member_count < 4 %>
              <% if @requested_teams.length > 0  && @requested_teams.include?(team.id) %>
                Request pending !
              <% else %>
                <a href= '<%= join_team_path(team) %>' > Join </a>
            <% end %>
          <% end %>
        </li>
    <% end %>
  <% end %>
</ul> 