<div class="wdb-social">
<a href="#" id="ShareTweet" class="btn">tweet </a>
<a href="#" id="ShareFacebook" class="btn"> fb </a>
  
  <div class="logo-cf" align="center">
    <a href="http://www.cloudfoundry.com" target="_blank"><img src="/assets/logo_cloud_foundry.png"></a>
  </div>
  
</div>
