<div style="position:fixed;top:400;right:0;padding:70px;">
<input type="button" class="b1" value="Home"> <br>
<input type="button" class="b1" value="Bootcamp"> <br>
<input type="button" class="b1" value="Rules"> <br>
<input type="button" class="b1" value="Schedule"> <br>
<input type="button" class="b1" value="Venue"><br> 
<input type="button" class="b1" value="Prizes"><br>
<input type="button" class="b1" value="Teams"><br>
<h2> Sponsored by<br> <a href="http://www.cloudfoundry.com/">cloudfoundry</a> </h2>
</div>
