<div style="position:fixed;top:500;right:0;padding:220px 70px;">
<span class="h"><a href="#" id="home" class="btn bw">Home</a></span><br><br>
<span class="b"><a href="#bootcamp" id="bootcamp" class="btn bw">Bootcamp</a></span><br><br>
<span class="r"><a  href="#rules" id="rules" class="btn bw">Rules</a></span><br><br>
<span class="s"><a href="#schedule" id="schedule" class="btn bw">Schedule</a></span><br><br>
<span class="v"><a href="#venue" id="venue" class="btn bw">Venue</a></span><br><br>
<span class="p"><a href="#prizes" class="btn bw">Prizes</a></span><br><br>
<span class="t"><a href="#teams" class="btn bw">Teams</a></span><br><br>
<h2> Sponsored by<br> <a href="http://www.cloudfoundry.com/">cloudfoundry</a> </h2>
</div>
