<div style="position:fixed;top:400;right:0;padding:70px;">
<span class="h"><a href="#" id="home" class="btn">Home</a></span><br><br>
<span class="b"><a href="#bootcamp" id="bootcamp" class="btn">Bootcamp</a></span><br><br>
<span class="r"><a href="#rules" id="rules" class="btn">Rules</a></span><br><br>
<span class="s"><a href="#schedule" id="schedule" class="btn">Schedule</a></span><br><br>
<span class="v"><a href="#venue" id="venue" class="btn">Venue</a></span><br><br>
<span class="p"><a href="#prizes" class="btn">Prizes</a></span><br><br>
<span class="t"><a href="#teams" class="btn">Teams</a></span><br><br>
<h2> Sponsored by<br> <a href="http://www.cloudfoundry.com/">cloudfoundry</a> </h2>
</div>
