<h2> My team </h2>
<h3><%= @my_team.name %></h3><br>
<% if @my_team.owner_id == current_user.id %>
<ul>
   <% @team_members.each do |member| %>
      <li><%= member.name %> </li>
   <% end %>
 </ul>
<% end %> 