<!DOCTYPE html>
<html>
<head>
  <title>Contributing code</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Contributing CODE</h1>

<%= yield %>

</body>
</html>
